[submodule "Data/3DModel/KofunOBJ"]
	path = Data/3DModel/KofunOBJ
	url = https://github.com/Asukana/KofunOBJ.git
[submodule "Data/Map/XYZTile/Soil/Image/Soil"]
	path = Data/Map/XYZTile/Soil/Image/Soil
	url = https://github.com/Asukana/Soil.git
[submodule "Data/Map/XYZTile/Temperature/Image/SoilTemperature"]
	path = Data/Map/XYZTile/Temperature/Image/SoilTemperature
	url = https://github.com/Asukana/SoilTemperature.git
[submodule "Data/Map/XYZTile/RiversAndLakes/Image/RiversAndLakes"]
	path = Data/Map/XYZTile/RiversAndLakes/Image/RiversAndLakes
	url = https://github.com/Asukana/RiversAndLakes.git
